    <% @announcements.each do |announcement| %>
      <div class="card-announcement py-2 px-3 d-flex align-items-center">
        <div class="announcement-user-info p-2 text-center">
          <%= , class: "avatar-announcement")%>
          <div class="announcement-user-name d-flex justify-content-center mt-3">
            <%= %>
            <%= %>
          </div>
        </div>
        <div class="announcement-info mr-5 align-items-center p-2">

            <p><b>Date: </b><%= announcement.date %>　</p>
            <p><b>Status: </b><%= announcement.status %></p>

            <p><b>Location: </b><%= announcement.location %></p>

            <div class="announcement-content">
              <p><b>Description: </b><%= announcement.content %></p>
            </div>
        </div>
        <div class="pet-info pt-2">
          <%= , class: "avatar-announcement") %><br>
          <%= %>
        </div>
      </div>
    <% end %>






