<div class="announcements-title mt-2 mb-2">
  <h4>Events Near You</h4>
</div>
<div class="container-announcements">
  <% @announcements.each do |announcement| %>
    <div class="banner-card-announcement">
      <%= announcement.photo.attached? ? cl_image_tag(announcement.photo.key) : cl_image_tag("https://cdn.dribbble.com/users/879147/screenshots/4761916/pet_owners_page.jpg?compress=1&resize=800x600") %>
      <div class="banner-card-announcement-infos">
        <%= cl_image_tag(announcement.user.photo.key, class: "banner-card-announcement-user") %>
        <div class='w-50'>
          <b><%= announcement.title %></b>
          <p><em><small>Event held by <%= announcement.user.first_name %></small></em></p>
          <div class="my-3" style="font-size: 13px;">
            <b><%= announcement.date.strftime("%A, %d %b %l:%M %p") %></b>
            <div class="announcement-location">
              <i class="fas fa-map-marker-alt pr-1 ml-3"></i><small><%= announcement.location %></small>
            </div>
          </div>
          <%= announcement.content %>
        </div>
        <% unless current_user.announcements.include?(announcement) %>
          <%= simple_form_for [announcement, Registration.new] do |f| %>
            <%= f.button :button, class: "btn-join text-center" do %>
              Join Event
            <% end %>
          <% end %>
        <% else %>
          <button class="btn-joined text-center">Joined Event</button>
        <% end %>
        <div class="modal-share",  data-toggle="modal" data-target="#invite-modal-<%= announcement.id %>">
          <i class="far fa-share-square ml-3"></i>
          <%= render "announcements/invite_modal", announcement: announcement %>
        </div>
      </div>
    </div>
  <% end %>
</div>
