<div class="container">
  <p>New event</p>
  <%= simple_form_for @announcement do |f| %>
    <%= f.input :date, html5: true %>
    <%= f.input :content %>
    <%= f.input :location %>
    <%= f.input :title %>
    <%= f.input :photo, as: :file, inline_label: 'photo', label: false %>
    <%= f.submit 'Add your event!', class: 'btn btn-flat' %>
  <% end %>
</div>
