<%= link_to user_path(friend) do %>
  <%= cl_image_tag(friend.photo.key, class: "avatar-large") %>
  <% if friend.online? %>
    <span class="logged-in-index">●</span>
  <% else %>
    <span class="logged-out-index">●</span>
  <% end %>
<% end  %>
<div class="notification-content">
  <b><%= friend.first_name %></b>
  <b><%= friend.last_name %></b>
  <small>(<%= friend.city %>)</small>
</div>
<%= link_to friend_path(friend) do %>
  <div class="notification-actions">
    <% count = current_user.messages.where(sender: friend, read:false).count %>
    <% unless count.zero? %>
      <span class="notification-badge-messages badge badge-danger"><%= count %></span>
    <% else %>
      <i class="far fa-comment"></i>
    <% end %>
  </div>
<% end %>
