<%= link_to user_path(friend) do %>
  <%= cl_image_tag(friend.photo.key, class: "avatar-large") %>
<% end  %>
<div class="notification-content">
  <b><%= friend.first_name %></b>
  <b><%= friend.last_name %></b>
  <small>(<%= friend.city %>)</small>
</div>
<%= link_to friend_path(friend) do %>
  <div class="notification-actions">
    <% if current_user.messages.where(read:false).any? %>
      <span class="notification-badge-messages badge badge-flat"><%= current_user.messages.where(read:false).count %></span>
    <% else %>
      <i class="far fa-comment"></i>
    <% end %>
  </div>
<% end %>
