<%= link_to user_path(friend) do %>
  <%= friend.photo.attached? ? cl_image_tag(friend.photo.key, class: "avatar-large") : cl_image_tag("https://cdn5.vectorstock.com/i/1000x1000/82/59/anonymous-user-flat-icon-vector-18958259.jpg", class: "avatar-large") %>
<% end  %>
<div class="notification-content" id="friend-request-div">
  <p>Friend request from <b><%= friend.first_name %> <%= friend.last_name %></b></p>
  <div class="friend-request-buttons d-flex">
    <%= form_for :user, url: friend_accept_request_path(friend) do |f| %>
      <%= f.submit "accept", class: "btn btn-primary ml-0 my-2" %>
    <% end %>
    <%= form_for :user, url: friend_decline_request_path(friend), method: :delete do |f| %>
      <%= f.submit "reject", class: "btn btn-warning ml-0 my-2" %>
    <% end %>
  </div>
</div>
