<div class="container d-flex mt-3 justify-content-center">
  <% if current_user.requested_friends.any? %>
    <div class="notification">
      <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
      <div class="notification-content" id="friend-request-div">
        <% current_user.requested_friends.each do |request| %>
          <%= request.first_name %>
          <%= request.last_name %>
          <%= form_for :user, url: friend_accept_request_path(request) do |f| %>
            <%= f.submit "accept", class: "btn btn-primary" %>
          <% end %>
          <%= form_for :user, url: friend_decline_request_path(request) do |f| %>
            <%= f.submit "reject", class: "btn btn-warning" %>
          <% end %>
        <% end %>
      <% end  %>
      <% if current_user.friends.any? %>
        <div class="notification">
          <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
          <div class="notification-content">
            <% current_user.friends.each do |friend| %>
              <%= friend.first_name %>
              <%= friend.last_name %>
            <% end %>
          </div>
          <div class="notification-actions">
            <a href="#"><i class="far fa-comment-alt fa-2x"></i></a>
          </div>
        <% end  %>
      </div>
    </div>
