<div id="messages" data-user-id="<%= @friend.id %>">
  <% if @messages.any? %>
    <%= render @messages %>
  <% else %>
    <div class="message-container">
      <p>No message yet. Be the first!</p>
    </div>
  <% end %>
</div>
<%= simple_form_for [ @friend, @message ], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Message" %>
  <%= f.submit %>
<% end %>
</div>
