<div id="messages" data-user-id="<%= @friend.id %>">
  <% if @messages.any? %>
    <%= render @messages %>
  <% else %>
    <div class="message-container">
      <%= @friend.photo.attached? ? cl_image_tag(@friend.photo.key, class: "avatar-large") : cl_image_tag("https://cdn5.vectorstock.com/i/1000x1000/82/59/anonymous-user-flat-icon-vector-18958259.jpg", class: "avatar-large") %>
      <p>No messages with <%= @friend.first_name %> yet. Send the first message!</p>
    <% end %>
    <%= simple_form_for [ @friend, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Message" %>
      <%= f.submit "Send", :class => "btn btn-primary"  %>
    <% end %>
  </div>
