<div id="back-button-div">
  <%= link_to friends_path do %>
    <i class="fas fa-angle-left"></i>
  <% end %>
</div>
<div class="container" id="chatroom">
  <div class="d-flex flex-column justify-content-center align-items-center" id="box">
    <div id="messages" data-user-id="<%= @friend.id %>">
      <div class="message-top text-center">
        <%= cl_image_tag(@friend.photo.key, class: "avatar-large") %>
        <% if @friend.online? %>
          <span class="logged-in">● Online</span>
        <% else %>
          <span class="logged-out">● Offline</span>
        <% end %>
        <h6><b><%= @friend.first_name %></b></br>
        <small><%= @friend.city %></small></br>
      <small><%= @friend.first_name %> has <%= @friend.pets.count %> pet(s)</small></h6>
  </div>
  <% unless @messages.empty? %>
    <%= render @messages, viewer: current_user, messages: @messages %>
    <% @messages.where(receiver: current_user).update_all(read: true) %>
  <% end %>
</div>
  <div>
  <%= simple_form_for [ @friend, @message ], remote: true, html: { class: "send-message"} do |f| %>
    <%= f.input :content, label: false, placeholder: "Message" %>
    <%= f.submit "Send", :class => "btn btn-flat", :id => "message-button" %>
  <% end %>
  </div>
</div>
</div>
