<% @user.pets.each do |pet| %>
  <div class="container-img">
    <%= pet.photo.attached? ? cl_image_tag(pet.photo.key) : cl_image_tag("https://res.cloudinary.com/dzwpbkn3u/image/upload/v1621747327/homeless-chic_n3ntvs.png") %>
  </div>
  <p>Name: <%= pet.name %>  Age: <%= pet.get_age %></p>
  <p><%= pet.species%> <%= pet.breed %></p>
  <p><%= pet.description %></p>
<% end %>
