<% @user.pets.each do |pet| %>
  <div class="card-pet d-flex flex-row align-items-center justify-content-center mb-3">
    <div class="pet-info d-flex flex-column justify-content-center align-items-center text-center overflow-wrap" style="width: 120px">
      <p><strong><%= pet.pet_name %></strong></br><small><%= pet.get_age %> yrs old</small></br>
      <small><%= pet.breed %></small></br>
      <small><strong><%= pet.description %></strong></small></p>
    </div>
    <div class="pet-img">
      <%= pet.photo.attached? ? cl_image_tag(pet.photo.key) : "easter egg" %>
    </div>
  </div>
<% end %>
