<div class="card-user">
  <%= link_to pet_sitting_path(pet_sitting), class: "link" do %>
    <div class="card-user-info d-flex align-items-end">
      <div class="card-user-name d-flex align-items-center">
        <%= pet_sitting.user.photo.attached? ? cl_image_tag(pet_sitting.user.photo.key, class: "card-user-avatar") : cl_image_tag("https://cdn5.vectorstock.com/i/1000x1000/82/59/anonymous-user-flat-icon-vector-18958259.jpg", class: "card-user-avatar") %>
        <div class="name-text d-flex">
          <h2><%= pet_sitting.user.first_name %> <%= pet_sitting.user.last_name %></h2>
        </div>
      </div>
      <div class="d-flex align-items-end">
        <h3 id="user-location"><%= pet_sitting.user.city %></h3>
        <h3 id="user-location"><%= pet_sitting.price %></h3>
      </div>
    </div>
  <% end %>
</div>
