<div class="container-new-pet_sitting">
  <%= simple_form_for @pet_sitting do |f| %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :photo, as: :file, inline_label: 'photo', label: false %>
    <%= f.submit 'Submit', class: 'btn btn-flat' %>
  <% end %>
</div>
