<div id="main-petsitting" class="d-flex flex-row flex-wrap justify-content-center align-items-start">
  <div class="cards-user-petsitting d-flex flex-column align-items-center justify-content-start" style="background-image: url(https://res.cloudinary.com/bdmaecloud/image/upload/v1623134319/pet_sitter_walking_image_final_mye7da.png)">
    <div id="back-button-div">
      <%= link_to pet_sittings_path do %>
        <i class="fas fa-arrow-circle-left fa-2x"></i>
      <% end %>
    </div>
    <div class="petsitter-img-container mt-3">
      <%= @pet_sitting.user.photo.attached? ? cl_image_tag(@pet_sitting.user.photo.key, class: "avatar-petsitter") : cl_image_tag("https://cdn5.vectorstock.com/i/1000x1000/82/59/anonymous-user-flat-icon-vector-18958259.jpg") %>
    </div>
  </br>
</br>
</br>
<div class="user-info d-flex justify-content-between">
  <div class="name-location-container d-flex flex-column pt-3">
    <h3><strong><%= @pet_sitting.user.first_name %> <%= @pet_sitting.user.last_name %></br></strong></h3>
  <p><i>Petsitter</i></br>
  <i class="fas fa-map-marker-alt pr-1"></i><small><%= @pet_sitting.user.city %></small></p>
</div>
<%= link_to friend_path(@pet_sitting.user) do %>
  <i class="far fa-comment fa-3x pr-4 pt-2 mt-10"></i>
<% end %>
</div>
<small>___________________________________________</small>
<div class="user-bio mt-2 pl-4 pr-4">
  <h5><b><i><%= @pet_sitting.user.first_name %></b> says..</i></h5>
  <%= @pet_sitting.description %>
</div>
<small>___________________________________________</small>
<h5>
  <%= pluralize @pet_sitting.user.reviews.size, "review" %>
</h5>
<div class="reviews-petsitting">
  <% if @pet_sitting.user.reviews.blank? %>
    Be the first to leave a review for
    <%= @pet_sitting.user.first_name %>
  <% else %>
    <% @pet_sitting.user.reviews.each do |review| %>
      <div id="content">
        <div class="ratings-section d-flex justify-content-center">
          <%= review.stars %>
        </div>
        <div class="testimonial">
          <blockquote>
            <p><%= review.content %></p>
          </blockquote>
        </div>
      <% end %>
    <% end %>
    <% unless current_user == @pet_sitting.user %>
      <h6>Leave a review for <%= @pet_sitting.user.first_name %></h6>
      <%= simple_form_for([ @pet_sitting, @review ], remote: true) do |f| %>
        <%= f.input :stars %>
        <%= f.input :content %>
        <%= f.submit "Leave review", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
  <div class="price-section d-flex justify-content-center mb-10">
    <div class="petsitting-price">
      <h1 class="yen-sign"><b>¥</b></h1>
      <p><%= @pet_sitting.price %> <small>per day</small></p>
    </div>
  </div>
  <h5 class="booking-title mt-10"><b>Make a booking!</b></h5>
  <div class="booking-wrapper mt-10" style="background-image: url(https://res.cloudinary.com/bdmaecloud/image/upload/v1623205029/booking_background_absolute_final_tlxhgi.png)">
    <div class="booking-section text-center">
    </br>
    <%= simple_form_for [@pet_sitting, @booking], :html => { class: "booking-form-container" } do |f| %>
      <%= f.input :start_date, label: 'From', html5: true, :input_html => { min: Date.today, class: "petsitting-booking-form" } %>
      <%= f.input :end_date, label: 'Until', html5: true, :input_html => { min: Date.today, class: "petsitting-booking-form" } %>
      <%= f.input :description, label: 'Comments', inline_label: 'description', :input_html => { class: "petsitting-booking-form" } %>
      <%= f.submit class: 'btn btn-info mb-3 mt-3', value: "Book" %>
    <% end %>
  </div>
</div>
</div>
</div>
