<div class="all d-flex flex-column justify-content-center align-items-center mt-5">
  <div class="card-user">
    <div class="container-img">
      <%= @user.photo %>
    </div>
    <div class="user-info d-flex flex-space-around">
      <%= @user.first_name %> <%= @user.last_name %>
      <%= @user.city %>
    </div>
    <div class="form-pets">
      <div class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add your pet</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="x"></button>
            </div>
            <div class="modal-body">
              <%= render "shared/form" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="user-bio">
      <%= @user.bio %>
    </div>
  </div>
  <div class="card-pet">
    <% @user.pets.each do |pet| %>
      <div class="container-img">
        <%= pet.photo.attached? ? cl_image_tag(pet.photo.key) : cl_image_tag("https://res.cloudinary.com/dzwpbkn3u/image/upload/v1621747327/homeless-chic_n3ntvs.png") %>
      </div>
      <p>Name: <%= pet.name %>  Age: <%= pet.get_age %></p>
      <p><%= pet.species%> <%= pet.breed %></p>
      <p><%= pet.description %></p>
      <% end %>
  </div>
</div>
