<div id="main" class="d-flex flex-row flex-wrap justify-content-center align-items-start mb-5 mt-5">
  <div class="profile d-flex flex-column align-items-center justify-content-start mb-3 mr-5">
    <div class="container-img">
      <%=cl_image_tag(@user.photo.key) %>
    </div>
    <div class="user-info d-flex flex-column text-center">
      <h5><strong><%= @user.first_name %> <%= @user.last_name %></br></strong></h5>
      <p><small><em>lives in</em>: <%= @user.city %></small></p></br>
    </div>
    <div class="user-bio text-center mb-3">
      "<%= @user.bio %>"
    </div>
     <%= render "users/user_fr_status" %>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <% if @user == current_user && @user.pets.empty? %>
      <div class="card-pet d-flex flex-row align-items-start justify-content-start mb-3">
        <h6 class="mb-0">Add your first pet!</h6>
      </div>
      <% else %>
        <h6 class="label"><strong><%= @user.first_name %>'s Pet(s)</strong></h6>
         <%= render "pets/pets" %>
        <% end %>
        <% if @user == current_user %>
          <%= link_to new_pet_path do %>
          <div class="btn btn-flat">Add Your Pet</div>
          <% end %>
        <% end %>
     </div>
  </div>
