<div id="main" class="d-flex flex-row flex-wrap justify-content-center align-items-start mt-5">
  <div class="cards-user d-flex flex-column align-items-center justify-content-start">
    <div class="container-img">
      <%= @user.photo.attached? ? cl_image_tag(@user.photo.key) : cl_image_tag("https://res.cloudinary.com/dzwpbkn3u/image/upload/v1622615495/cat_plain_pkgsn5.png") %>
    </div>
    <div class="user-info d-flex flex-column text-center">
      <p><strong><%= @user.first_name %> <%= @user.last_name %></br></strong>
      <small><%= @user.city %></small></p>
    </div>
    <div class="user-bio text-center">
      <%= @user.bio %>
    </div>
      <% if @user.friends.include?(current_user) || @user.requested_friends.include?(current_user) %>
        <button class="btn btn-flat"> Request Sent </button>
      <% else %>
       <% unless @user == current_user %>
          <%= simple_form_for @user, url: friend_request_friendship_path(@user), method: "post" do |f| %>
          <%= f.submit 'Friend Request +', class: 'btn btn-flat inactive'%>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <% if @user == current_user %>
      <% if @user.pets.empty? %>
        <div class="d-flex flex-column justify-content-center align-items-center">
          <h6 class="label mt-3 mb-0">Add your first pet!</h6>
        <% else %>
      <%= render "pets/pets" %>
    <% end %>
    <button id="new-pet" type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#petNew">
      Add Your Pet!
    </button>
      <%= render "pets/pets_pop" %>
    <% end %>
  </div>
</div>
</br>
