<div class="mobile-nav">
  <%= link_to announcements_path do %>
    <i class="fas fa-bell"></i>
    <% if Announcement.any? %>
      <% count =  Announcement.where(read: false).count %>
      <% unless count.zero? %>
        <span class="notification-badge-mobile badge badge-danger"><%= count %></span>
      <% end %>
    <% end %>
  <% end %>
  <%= link_to users_path do %>
    <i class="fas fa-search"></i>
  <% end %>
  <%= link_to friends_path do %>
    <i class="fas fa-user-friends"></i>
  <% if user_signed_in? %>
    <%= link_to user_path(current_user) do %>
      <i class="fas fa-user-circle"></i>
    <% end %>
  <% else %>
    <i class="fas fa-egg"></i>
  <% end %>
    <% if user_signed_in? %>
      <% if current_user.requested_friends.any? %>
        <span class="notification-badge-mobile badge badge-danger"><%= current_user.requested_friends.count %></span>
      <% end %>
    <% end %>
  <% end %>
</div>
