<div class="bg-w navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="w-100"></div>
  <%= link_to "/", class: "navbar-brand d-flex justify-content-center" do %>
    <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1622550543/logo_qobxhf.png" %>
    <% end %>

  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to users_path do %>
          <i class="fas fa-home nav-link"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to friends_path do %>
          <i class="fas fa-comment nav-link"></i>
        <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
