<div class="d-flex flex-column justify-content-center align-items-center bg-white">
  <div class="logo mt-5">
    <%= link_to "/" do  %>
      <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1622550543/logo_qobxhf.png", alt: "logo", class: "logo"%>
    <% end %>
  </div>
  <div class="container-home">
    <div id="images" class="d-flex justify-content-center align-items-center flex-wrap">
      <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1622902828/image_2_xhqskb.png", alt: "right", class: "main" %>
      <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1622902828/image_3_jpjvln.png", alt: "center", class: "easter-eggs" %>
      <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1622902828/image_4_jg9r2x.png", alt: "left", class: "easter-eggs" %>
      </div>
    </div>
    <div class="connect-button">
     <%= link_to 'Connect Today!', users_path, class: "btn btn-flat mt-5" %>
    </div>
</div>
